body {
    font-family: Arial, sans-serif;
    background-color: rgb(203, 229, 240);
}

header h1 {
    margin: 0;
}

section {
    margin: 20px;
}

h2 {
    color: #333;
}

ul {
    list-style-type: disc;
    padding-left: 20px;
}

/* Add more styling as needed */
