/* Reset some default styles */
body, ul {
    
    background-color: rgb(102, 139, 139);
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    font-size: larger;
}

/* Basic styling for the header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: #fff;
    padding: 1em;
}

/* div {
    font-size: larger;
    height: 3rem;
} */

footer {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: #696666;
    color: #fff;
    padding: 0.5em;
    position: fixed;
    height: 3rem;
    left: 0;
    right: 0;
    bottom: 0;
}

#spalsh {
    border: 1px solid black;
    background-image: url(tech1.jpg);
    background-size: cover;
    background-position: center;
    width: 600px;
    height: 300px;
}

header a {
    color:rgb(221, 109, 18);
    text-decoration: none;
}
 header h2:hover {
    background-color:rgb(90, 69, 42);
}

nav ul li:hover {
    background-color: #5f5a5a;
    transition: all 1s;
}

nav ul {
    list-style: none;
    background-color: #333;
}

nav ul li {
    display: inline;
    margin-right: 10px;
    padding-inline: 1rem;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

/* Styling for sections */
section {
    color: white;
    padding: 20px;
    margin: 5px 5px;
}
section ul li {
    color: black;
    padding: 0px;
    margin: 10px 10px;
}

section h1, section h2 {
    color: #641421;
}

.stats h3 {
    padding: 1px;
    margin: 2px;
}

.stat {
    /* display: flex; */
    /* flex-direction: column; */
    color: black;
    font-size: large;
    padding: 0 0 10px 10px;
    width: 500px;
    height: fit-content;
    border: #333;
    box-shadow: 0 3px 5px -2px black;
    word-break: break-all;
    text-align: left;
} 


.stats {

    display: flex;
    flex: 1;
    width: 1500px;

    text-align: center;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;


    font-family: 'Open Sans', sans-serif;
    align-items: flex-start;

    margin: 2px;
}


.project p {
    color: #641421;
    font-style: italic;


}
.contact {
    display:flex;
    align-items: center;
}

.contact img {
    border-radius: 50%;
}

.project {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px;
    font-family: 'Courier new';
}

.project img {
    width: 320px;
    height: 220px;

}
/* Media queries for responsiveness */
@media (max-width: 390px) {
    header {
        font-size: 18px;
    }
    nav ul {
        flex-direction: column;
        align-items: flex-end;
    }
    nav ul li {
        display: block;
        margin: 10px 0;
    }
    /* .stat {
        height: 2rem;

    }  */
}
